<div class="umbracoDialog" ng-controller="Umbraco.Editors.Dictionary.ImportController as vm">

    <!--<div class="umb-pane">
      <h5><localize key="create_createUnder">Create an item under</localize> {{currentNode.name}}</h5>
    </div>-->

    <form novalidate name="importDictionaryForm"
          ng-submit="vm.import(true)"
          val-form-manager>
        <div class="umb-dialog-body with-footer">
            <div class="umb-pane">

                <umb-control-group label="@importTranslations_selectFileHeader" hide-label="false">
                    <button class="btn"
                            name="file"
                            ngf-select
                            ng-model="vm.filesHolder"
                            ngf-change="vm.import()"
                            ngf-multiple="false"
                            ngf-pattern="*.csv">

                        <span ng-show="vm.filesHolder === null">
                            <localize key="importTranslations_selectFileButton">Select file...</localize>
                        </span>
                        <span ng-bind="vm.filesHolder.name"></span>
                    </button>
                </umb-control-group>

                <umb-control-group label="@importTranslations_overrideExistingHeader" hide-label="false">
                    <umb-checkbox model="vm.overrideExistingTranslations"
                                  on-change="vm.import()"
                                  text="{{ vm.overrideCheckboxLabel }}">
                    </umb-checkbox>
                </umb-control-group>


                <umb-control-group label="@importTranslations_encoding" hide-label="false">
                    <select class="input-block-level"
                            ng-model="vm.selectedEncoding"
                            ng-change="vm.import()"
                            ng-options="encoding.key as encoding.text for encoding in vm.encodings"
                            name="encoding"></select>
                </umb-control-group>

                <umb-control-group label="@importTranslations_delimiter" hide-label="false">
                    <select class="input-block-level"
                            ng-model="vm.selectedDelimiter"
                            ng-change="vm.import()"
                            ng-options="delimiter.key as delimiter.text for delimiter in vm.delimiters"
                            name="delimiter"></select>
                </umb-control-group>


                <umb-load-indicator ng-show="vm.loading">
                </umb-load-indicator>

                <table class="table table-condensed" ng-if="!vm.loading && vm.dataFromFile">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                <localize key="importTranslations_oldValue"></localize>
                            </th>
                            <th>
                                <localize key="importTranslations_newValue"></localize>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.dataFromFile">
                            <td>{{ item.ItemKey }}</td>
                            <td>{{ item.OldValue }}</td>
                            <td>{{ item.NewValue }}</td>
                        </tr>
                    </tbody>
                </table>

                <!--<umb-empty-state ng-if="!vm.loading && (!vm.dataFromFile || vm.dataFromFile.length === 0)"
                                 position="center">
                    <localize key="sort_sortEmptyState"></localize>
                </umb-empty-state>-->

            </div>
        </div>


        <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">

            <umb-button type="button"
                        button-style="link"
                        action="vm.close()"
                        label-key="general_close">
            </umb-button>

            <umb-button type="button"
                        action="vm.import(true)"
                        state="vm.saveButtonState"
                        button-style="success"
                        label-key="general_import">
            </umb-button>
        </div>

    </form>


</div>
